{% extends "base.html" %}

{% block content %}

<div class="form-container">

    <h2>Change Password</h2>

    <p>
        You must change your temporary password before accessing the system.
    </p>

    <form method="POST">

        <label>New Password</label>
        <input 
            type="password" 
            name="new_password" 
            required
        >

        <label>Confirm Password</label>
        <input 
            type="password" 
            name="confirm_password" 
            required
        >

        <button type="submit">
            Change Password
        </button>

    </form>

</div>

{% endblock %}